.hidden {
    display: none
}

* {
    margin: 2px;
    margin-top: 0px;
    padding: 2px;
}

body {
    font-family: "微软雅黑";
}

#setUp, #setUpSuccess, #displayPasscode {
    width: 285px;
    margin: 0 auto;
}

p {
    margin-left: 4px;
    color: #333;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-size: 22px; 
    color: #ff5722;
}

#link {
    font-size: 15px;
    margin-top: 8px; 
    margin-bottom: 10px;
    border-radius: 25px;
    outline: none;
    padding: 8px;
    padding-left: 15px;
    border: 1px solid #ff5722;
}

#submit {
    font-size: 15px;
    display: block;
    outline: none;
    border: none;
    padding: 8px 25px;
    border-radius: 25px;
    background: #ff5722;
    color: #fff;
}

#passcode {
    text-decoration: none;
    margin-left: 85px; 
    font-size: 30px; 
    color: #ff5722;
    margin-top: 10px;
    margin-bottom: 10px;
}

#login {
    font-size: 15px;
    padding: 8px 25px;
    border-radius: 15px;
    background: #4df05d;
    color: #fff;
    outline: none;
    border: none;
    width: 40%;
    margin-left: 30%;
    text-align: center;
}